<form class="form-signin" style="display: inline-block; width: 30vw;margin-left: 34vw;">
    <h2 class="form-signin-heading" style="text-align: center;">Please log in</h2>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" id="inputUsername" class="form-control" placeholder="Username" required="" autofocus="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
    <a id="log-in-btn" href="#/home" class="btn btn-lg btn-info btn-block" type="submit">Log in</a>
</form>